<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HUSA</title>
    <h1>Healthcare Unified System Application</h1>
</head>
<body>
    <nav>
        <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">Services</a></li>
            <li><a href="#">Contact</a></li>
        </ul>
    </nav>
    <section></section>
    <section></section>
    <section></section>
    <p>This will be the body of the Application</p>
    <section>
        <footer>
            <p>&copy; <span id="year"></span> Healthcare Unified System Application. All rights reserved.</p>
            <script>
                document.getElemementById('year').textContent =new Date().getFullYear();
            </script>
        </footer>
    </section>
</body>
</html>