<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>HUS</title>
  <link rel="stylesheet" href="register.css">
  <h1>Healthcare Unified System</h1>
  <link rel="#" href="login.html">
</head>
<div>
  <label for="form"><form action="POST" >Register here</label><br/>
  
     <input type="text" value="Enter your name"><br /> 
     <input type="charset" value="Email"><br/>
     <input type="text" value="User-name"><br/>
     <input type="password" value="pwd"><br/>
     <button type="button" value="Submit"><a href="login.html">Register</a></button>
   
  </form>
</div>
  <footer>
    <p>
      &copy; <span id="year"></span> Healthcare unified System. All Rights Reserved
    </p>
    <script>
      document.getElementById('year').textContent= new Date().getFullYear();
    </script>
  </footer>

</body>
</html>